//sticky footer
html, body, #app, #inner-wrapper{
  height: 100%;
}

#inner-wrapper{
  @include flexbox();
  @include flex-direction(column);

  main, header{
    @include flex(1 0 auto);
  }

  footer{
    @include flex-shrink(0)
  }

  &.mobile{

    &.menu-open{
      .main{
        height: 0;
        overflow: hidden;
      }
    }
  }
}
//end sticky footer

body{
  background: $light-grey;

  footer{
    background: $light-bue;
    padding: 40px 0;
  }
}

.content-container {
  margin: 0 auto;
  padding: 0 $m-size;
  max-width: 960px;
  position: relative;
}

.content-block{
  padding: 20px;
  background: #fff;
  border: 1px solid $border-clr;
}

a{
  text-decoration: none;
  cursor: pointer;

  &.link{
    text-decoration: underline;
    color: $blue;
  }
}

.dib{
  @include inline-block(middle);
}

.w-100{
  width: 100%!important;
}

.w-auto{
  width: auto!important;
}

.m40-0{
  margin: 40px 0;
}

.m20-0{
  margin: 20px 0;
}

.mt-20{
  margin-top: 20px;
}

.mb-20{
  margin-bottom: 20px;
}

.m-r-10{
  margin-right: 10px;
}

.m-l-10{
  margin-left: 10px;
}

.p40-0{
  padding: 40px 0;
}

.pt-20{
  padding-top: 20px!important;
}

.p-10{
  padding: 10px;
}

.p-20-0{
  padding: 20px 0;
}

.txt-center{
  text-align: center;
}

.bold{
  font-weight: bold;
}

.default-btn{
  @include inline-block(middle);
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid $border-clr;
  @include border-radius(.25rem);
  width: auto;
}

@include breakpoint-extra-small(){
  .content-container {
    padding: 0 10px;
  }
}