.lds-spinner {
  color: $white;
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;

  div {
    @include transform-origin(32px 32px);
    @include animation(1.2s, 1.2s, lds-spinner);

    &:after {
      content: " ";
      display: block;
      position: absolute;
      top: 3px;
      left: 29px;
      width: 5px;
      height: 14px;
      border-radius: 20%;
      background: #fff;
    }

    @for $i from 1 through 12{
      &:nth-child(#{$i}) {
        @include transform(rotate($i*30-30deg));
        @include animation-delay(-1.2s + $i * 0.1);
      }
    }
  }
}


@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
